body {
  font-family: "Roboto";
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  margin-top: -10rem;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 450px;
  text-align: center;
}
.container h1 {
  color: #6a0dad;
  font-weight: 700;
  font-size: 38px;
}
.container form {
  display: flex;
  margin-bottom: 20px;
}
.container form #task {
  flex: 1;
  padding: 10px;
  border: 2px solid #6a0dad;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.container form #addBtn {
  padding: 10px;
  border: none;
  background-color: #6a0dad;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.container form #addBtn:hover {
  background-color: purple;
}
.container #task-list {
  list-style-type: none;
  padding: 0;
}