
body {
    font-family: 'Roboto';
    background-color: #D8BFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    margin: auto;
    margin-top: -5rem;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    margin: 2rem;
    text-align: center;
    h1 {
        color:  #6a0dad;
        font-weight: 700;
        font-size: 39px;
        img{
            width: 30px;
            height: 30px;
            margin-left: 1rem;
            margin: auto;
        }
    }
    form {
        display: flex;
        margin-bottom: 20px;
        #task {
            flex: 1;
            padding: 10px;
            border: 2px solid #6a0dad;
            border-radius: 5px 0 0 5px;
            outline: none;
        }
        #addBtn {
            padding: 10px;
            border: none;
            background-color: #6a0dad;
            color: white;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            &:hover {
                background-color: #964dca;
            }
            
        }
    }
    
#taskList {
    list-style-type: none;
    padding: 0;
    li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    position: relative;
   
}
input[type="checkbox"] {
    margin-right: 10px; 
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    cursor: pointer; 
    appearance: none;
    background-color: light-dark(rgb(232, 240, 254));
    border: 2px solid #6a0dad; 
    outline: none; 
    &:checked::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #6a0dad; 
    position: absolute; 
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    
    }
}
button.deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 21.5rem;
    padding: 5px;
    img {
        width: 20px;
        height: 20px;
    }
}


}
}


@media  (min-width: 768px) {
   
    .container {
        width: 600px;
        padding: 30px;
          h1 {
        font-size: 45px; 
    }
    #taskList{
        button.deleteBtn {
                margin-left: 34rem;
        }
        }
    }
    
}

@media (max-width:750px){
    .container{
        #taskList{
            button.deleteBtn {
                margin-left: 87%;
        }
        }
    }

}











